<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>[15042570]-Preschool-Education-App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE1892871DC3BCAA00A53CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE18929B1DC3BCAA00A53CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1892A61DC3BCAA00A53CA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
